body {
     background-image: url('https://img.youscreen.ru/wall/14977845314718/14977845314718_1920x1200.jpg');
     background-size: 1620px 1080px;
     background-position: center;
     background-attachment: fixed;
     width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
   }


.hr-shelf {
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 3px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex.flex-column.flex-shrink-0.p-0.text-bg-dark{
    width: 400px;
    height: 1000px;
}
.nav.nav-pills.flex-column.mb-auto{
    display: block;
}
.nav-item {
    display: block;

    --bs-text-opacity: 1;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;

}


.nav-link_text-white{
    transition: color 0.2s linear;
    text-decoration: none;
    color: #fff;
}
.nav-link_text-white:hover{
    color: #00FFFF;
    z-index: 100;
}
.slidenav{
    position: fixed;
    top: 0;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    width: 1920px;
    margin: 0 auto;
}

/* 1 block */

.main-text{
    padding-left: 300px;
    width: 100%;



}

.main_title {
    margin-left: 90px;
    padding: 70px;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    color: aliceblue;


}


#square {
    max-width: 100%;
    display: block;
    align-content: center;
        margin-left: 105px;
    width: 1100px;
    height: 360px;
    background: #fff;
    position: relative;
    opacity: 0.9;
    border-radius: 10px;
    border: 5px #cfc solid;

}

#square:before {

    content: "";
    position: absolute;
    top: 100%;
    bottom: 100%;
    right: -50%;
    left: -50%;
    background: inherit;
}

.square-img{
    align-self: center;

    margin-top: 20px;
    margin-left: 350px;
    display: flex;
    height: 60%;
    top: 40%;
    left: 200px;
    z-index: 2;

}
.square-text{
    padding-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
    font-family: 'Prosto One', cursive;

}
/* 2 block */
#square1 {
    max-width: 100%;
    margin-left: 105px;
    width: 1100px;
    margin-top: 15%;
    height: 350px;
    background: #fff;
        top: 200px;
        left: 0;
        right: 10%;
        opacity: 0.9;
        border-radius: 5px; border: 5px #cfc solid; box-shadow: 0 0 10px #fff;

}

#square1:before {

    content: "";
    position: absolute;
    top: 100%;
    bottom: 100%;
    right: -50%;
    left: -50%;
    background: inherit;
}

.square1-title{
    margin-left: 100px;
    padding: 20px 20px;
    font-size: 30px;
    line-height: inherit;
    font-family: 'Prosto One', cursive;
}
.square1-text{
    padding : 10px 10px;
    margin-left: 30px;
    font-size: 20px;
    line-height: normal;
    font-family: 'Prosto One', cursive;
}
/* 3 block */

.contianer_square2_img{

    display: flex;
    justify-content: space-between;
}

.items_square2_img{
   margin-left: 10px;



}

/* profile */
#main1 {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
      }
#main {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
      }

#okno-profile,
#okno-friends,
#okno{
        width: 300px;
        height: 350px;
        text-align: center;
        padding: 15px;
        margin-left: 800px;
        color: #000;
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 700px;
        opacity: 1;

    background: #fff;
    border-radius: 5px; border: 5px #cfc solid; box-shadow: 0 0 10px #fff;
    z-index: 10;
}
.popup-close {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    font-family: 'Prosto One', cursive;
	position: absolute;
	top: 0px;
	right: 10px;
}

.popup-fade:before {

	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	z-index: 5;
}
.popup-fade:after {

	content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	opacity: 0.7;
	z-index: 11;
}
#main:target {display: block;}
#main1:target {display: block;}

.header h1 {
  font-size: 70px;
  font-weight: 500;
    text-align: center;
  color: #553c9a;
  border-right: 4px solid #000; /*This will be the blinking cursor*/
}
.square2 {
    border-radius: 5px; border: 5px #cfc solid; box-shadow: 0 0 10px #fff;
   margin-top: 15%;
    width: 680px;
    margin-right: 760px;
    max-width: 100%;
    height: 350px;
    background: #fff;
    top: 200px;
    left: 0;
    right: 10%;
    opacity: 0.9;

}
.square2:before {

    content: "";
    position: absolute;
    top: 100%;
    bottom: 100%;
    right: -50%;
    left: -50%;
    background: inherit;
}

.img_frame_square2{
    margin-top: 40%;
    margin-left: 260px;
    padding-right: 60px;
}

.title-square2{
    padding: 20px 50px;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    font-family: 'Prosto One', cursive;

}

.text-square2{
    padding : 20px 10px;
    margin-left: 30px;
    font-size: 20px;
    line-height: normal;
    font-family: 'Prosto One', cursive;
}
 /* 4 block */
#oval{
    margin-left: 27%;
    margin-top: 100px;

    width: 680px;
    margin-right: 260px;
    max-width: 100%;
    height: 100px;
    background: #fff;
    top: 200px;
    left: 0;
    right: 10%;
    opacity: 0.9;
    border-radius: 5px; border: 5px #cfc solid; box-shadow: 0 0 10px #fff
}
.oval:before {

    content: "";
    position: absolute;
    top: 100%;
    bottom: 100%;
    right: -50%;
    left: -50%;
    background: inherit;
}
.oval-title{
    text-align: center;
    font-size: 30px;
  font-weight: 700;
  color: #000;
  font-family: 'Prosto One', cursive;
    top: 5%;
    padding: 27px;
}

.container_oval{
    display: flex;
    justify-content: space-between;
    margin-left: 200px
}
#oval_plus{

    margin-top: 80px;
    margin-left: 50px;
    width: 470px;
    margin-right: 1px;
    max-width: 100%;
    height: 700px;
    background: #fff;
    top: 200px;
    left: 0;
    right: 10%;
    opacity: 0.9;
    border-radius: 40px;
    border: 5px #cfc solid;

}
.items_oval{
    width: 50%;

}

.title_text{
    font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: 'Prosto One', cursive;
    display: flex;

    padding: 10px 30px;
}
.items_title_text{
   width: 13%;

}
.ul_text{
    padding: 20px 30px;
    font-size: 18px;
}
/* 5 block */

#square3{
    margin-top: 100px;
    margin-left: 250px;
    width: 1200px;
    margin-right: 260px;
    max-width: 100%;
    height: 900px;
    background: #fff;
    top: 200px;
    left: 0;

    opacity: 0.9;
    border-radius: 40px;
    border: 5px #cfc solid;

}
.square3-title{

   margin-left: 100px;
    padding: 20px 60px;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    font-family: 'Prosto One', cursive;

}

.square3-text{
    padding: 5px 60px;

    font-size: 20px;
    color: #000;
    font-family: 'Prosto One', cursive;
}

.square3-img{
    width: 700px;
    height: 400px;
    padding-top: 20px;

    margin-left: 240px;
}



/* 6 block */
#square4-login,
#square4-register,
#square4-profile,
#square4_skills_list,
#square4_skills1,
#square4_skills,
#square4_dem,
#square4 {

    margin-left: 105px;
    width: 1200px;

    max-width: 100%;

    height: 5600px;
    background: #fff;
    top: 200px;
    left: 0;
    right: 10%;
    opacity: 0.9;
    border-radius: 40px;
    border: 5px #cfc solid;
}
#square4_dem{
    height: auto; margin-top: -10px;
    margin-left: 200px;
}

.title1-square{
    font-family: 'Prosto One', cursive;
    font-size: 40px;
    padding: 30px 50px;
}
.title2-square{
     font-family: 'Prosto One', cursive;
    font-size: 20px;
    padding-left: 54px;
}

.square4-text{
    text-align: justify;
    padding-left: 20px;
    font-family: 'Prosto One', cursive;
}

.ol-square{
    padding-left: 70px;
}
.title-online{
    font-family: 'Prosto One', cursive;
    font-size: 30px;
    padding: 30px 50px;
}

.text-online{
    text-align: justify;
    padding: 5px 50px 40px 50px;
    font-size: 20px;
}
.link-skill,
.link{

    margin-left: 350px;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    border: 4px solid #000;
    text-decoration: none;
    background-color: #212529;
    transition: background 0.1s linear, color 0.1s linear;
}
.color_link{
    color: aliceblue;
    font-size: 30px;
}
.link-skill:hover,
.link:hover{

    background-color: #0D6EFD
}

.text-univers{
    font-size: 20px;
}
.title-online{
    font-size: 30px;

}
.link-skill{
    font-size: 10px;
}

.self-learn-text{
     font-size: 20px;

}








.copyright{
    font-size: 17px;
    padding: 15px;
    text-align: center;
    font-family: 'Prosto One', cursive;

}

.hr-shelf {
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 3px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {


    --bs-text-opacity: 1;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;

}

.conteiner_header{
    z-index: 200;
}


.nav-link_text-white{
    transition: color 0.2s linear;
    text-decoration: none;
    color: #fff;
}
.nav-link_text-white:hover{
    color: #00FFFF;
    z-index: 100;
}
.slidenav{
    position: fixed;
    top: 0;
    height: auto;
    z-index: 10;

}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    width: 1920px;

    margin: 0 auto;
}

/* 1 block */
.main_title {
    margin-left: 90px;
    padding: 70px;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    color: aliceblue;

}
.container{
    width: 1920px;

    margin: 0;
}


#square4 {
    margin-top: 100px;
    margin-left: 250px;
    width: 1200px;

    max-width: 100%;

    height: auto;
    background: #fff;
    top: 200px;
    left: 0;
    right: 10%;
    opacity: 0.9;
    border-radius: 40px;
    border: 5px #cfc solid;
}


#square1_demand {
    max-width: 100%;
    margin-left: 105px;
    width: 1100px;
    margin-top: 15%;
    height: 350px;
    background: #fff;
        top: 200px;
        left: 0;
        right: 10%;
        opacity: 0.9;
        border-radius: 10px;
    border: 5px #cfc solid;


}

.title_square{
    padding-top: 20px;
    font-family: 'Prosto One', cursive;
    font-size: 40px;
    margin-left: 120px;
}




.square4-text{

    padding-bottom: 30px;
    margin-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    text-align: justify;
    padding-left: 20px;
    font-family: 'Prosto One', cursive;
    font-size: 20px;
}


#square-footer{

    margin-top: 400px;
    width: 1200px;
    margin-left: 250px;


    background: #fff;
    top: 20px;
    left: 0;
    opacity: 0.9;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 10px #cfc solid;

}

.copyright{
    font-size: 17px;
    padding: 15px;
    text-align: center;
    font-family: 'Prosto One', cursive;

}
#squareFORM{
    margin-top: 130px;
    margin-left: 400px;
    width: 760px;

    max-width: 100%;

    height: 120px;
    background: #fff;
    top: 200px;
    left: 0;
    right: 10%;
    opacity: 0.9;
    border-radius: 40px;
    border: 5px #cfc solid;

}

.title_form{
    padding-top: 20px;
    font-family: 'Prosto One', cursive;

}
.title_form_error{
    padding-top: 10px;
    font-family: 'Prosto One', cursive;

}

.text_form{
    font-family: 'Prosto One', cursive;
    font-size: 20px;
}

.link{

    margin-left: 50px;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    border: 4px solid #000;
    text-decoration: none;
    background-color: #212529;
    transition: background 0.1s linear, color 0.1s linear;
}
.color_link{
    color: aliceblue;
    font-size: 30px;
}

.link:hover{
    background-color: #0D6EFD
}
.fs-4:hover{
    color: #00FFFF;
    z-index: 100;
}
.table tr {
    margin-left: -200%;
}











