{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link active{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%}nav-link_text-white{%endblock%}
{%block status5%}nav-link_text-white{%endblock%}

{% block title %}Востребованность {%endblock%}


{%block content%}
    {% for el in grafic1 %}
        <div id="square4" style="height: auto; margin-top: -10px;">
            <img src=" {{ el.grafic_demand.url }}" width="1100px;", height="1300px" style="display: block; padding:5px  20px; ">
    {% endfor %}
        </div>
{%endblock%}

</body>
</html>