{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link active{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%}nav-link_text-white{%endblock%}
{%block status5%}nav-link_text-white{%endblock%}

{% block title %}Востребованность {%endblock%}


{%block content%}
    {% for el in grafic1 %}
        <div id="square4_dem" >
            <img class="dem_img" src=" {{ el.grafic_demand.url }} ">
    {% endfor %}
        </div>
{%endblock%}

</body>
</html>