{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%}nav-link_text-white{%endblock%}
{%block status5%}nav-link active{%endblock%}

{% block title %}Нахождение вакансии {%endblock%}

{% block content %}
     {% for el in block_error %}
            <div style="font-size: 30px; ">
                <div id="squareFORM" data-aos="zoom-out">
                    <div class="title_form_error">
                        {{el.title_form_error}}
                    </div>
                    <div class="text_form" >
                      {{el.text_form_error}}
                    </div>
                 </div>
            </div>
    {% endfor %}
{% endblock %}



