{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link active{%endblock%}
{%block status4%}nav-link_text-white{%endblock%}
{%block status5%}nav-link_text-white{%endblock%}

{% block title %}География {%endblock%}


{%block content%}
    {% for el in grafic2 %}
        <div id="square4" style="height: auto; margin-top: -10px;">
            <img src="{{ el.grafic_geo.url }}" width="1100px;", height="1300px" style="display: block; padding:5px  30px; ">
        </div>
     {% endfor %}
{%endblock%}



