{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link active{%endblock%}
{%block status4%}nav-link_text-white{%endblock%}
{%block status5%}nav-link_text-white{%endblock%}

{% block title %}География {%endblock%}


{%block content%}
    {% for el in grafic2 %}
        <div id="square4_dem">
            <img class="dem_img" src="{{ el.grafic_geo.url }}" >
        </div>
     {% endfor %}
{%endblock%}



