{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%}nav-link_text-white{%endblock%}
{%block status5%}nav-link active{%endblock%}

{% block title %}Последнии вакансии {%endblock%}


{%block content%}
        {% for p in data %}
            <div id="square4">
                <div class="title_square">
                    {{ p.name}}
                </div>
                 <hr>
                <div class="square4-text">
                   <strong style="font-size: 25px;">Описание:</strong>
                    {{p.description | safe}}
                    <br>
                    <strong style="font-size: 25px;">Навыки:</strong>
                   <br>

                    {{p.key_skills}}
                    <br>
                    <strong style="font-size: 25px;">Компания:</strong>
                   <br>
                    {{ p.employer}}
                    <br>
                    <strong style="font-size: 25px;">Зарплата:</strong>
                   <br>
                    {{ p.salary}}
                    <br>
                    <strong style="font-size: 25px;">Город:</strong>
                   <br>
                    {{ p.area}}
                    <br>
                    <strong style="font-size: 25px;">Дата публикации:</strong>
                   <br>
                    {{ p.published_at}}
                    <br>
                    <br>
                    <div style=" margin-left: 300px;">
                         <a class="link" href="{{p.alternate_url}}"><div class="color_link" style="display: inline;" >Открыть вакансию</div></a>
                    </div>

                </div>

            </div>
                {% endfor %}
            <br>
{%endblock%}




