{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%} nav-link active {%endblock%}
{%block status5%}nav-link_text-white{%endblock%}

{% block title %}Настройки профиля {%endblock%}


{%block content%}
 <div id="square4-profile">
            <div class="text-profile">
                {% if request.user.is_authenticated %}
                <div class="settings">Настройки профиля</div>
                <form style="margin-top: 20px;" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                <table>
                 <tbody>

                 <tr class="settings-profile">

                     <td  style= "padding-left: 120px"colspan="2">Имя:</td>
                     <td>
                         <input style="width: 200px" type="text" name="name">
                     </td>
                 </tr>
                 <tr class="settings-profile" >

                     <td style= "padding-left: 50px" colspan="2">Фамилия:</td>
                     <td>
                          <input style= " margin: 40px 10px; width: 200px" type="text" name="surname">
                     </td>
                 </tr>

                 </tbody>
             </table>
                    <input class="save" type="submit" name="form3" value="Сохранить">
                </form>


                {% else %}
                Войдите в аккаунт


                {% endif %}
            </div>
        </div>



    {%endblock%}

    </body>
    </html>
