{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link active{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%}nav-link_text-white{%endblock%}
{%block status5%}nav-link_text-white{%endblock%}

{% block title %}Регистрация {%endblock%}


{%block content%}
 <div id="square4" style="width: 500px; margin-left: 500px; height:auto; padding: 10px">
     <div style="text-align: center; font-size: 20px; font-family: 'Prosto One', cursive">
        <div style="text-align: center; padding: 10px; font-size: 35px; font-weight: bold; font-family: 'Prosto One', cursive">Регистрация</div>
         <form  method="POST">
             {% csrf_token %}
             <table>
                 <tbody>
                 {% for f in form %}
                 <tr>
                     {{f.errors}}
                     <td colspan="2">{{f.label}}</td>
                     <td>
                         <div style="padding: 10px 10px">{{f}}</div>
                     </td>
                 </tr>
                 {% endfor %}
                 </tbody>
             </table>

        <input style="margin-top: 20px; font-size: 30px" type="submit" value="Регистрация">
         </form>
     </div>
 </div>


{%endblock%}

</body>
</html>
