{%extends 'main/base.html'%}
{% load static %}

{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%} nav-link active {%endblock%}
{%block status5%}nav-link_text-white{%endblock%}

{% block title %}Навыки {%endblock%}


{%block content%}
<div class="container_skill" style="
display: flex; justify-content: space-between;">
    <div class="skill_items">
        <div id="square4" style="width: 500px; margin-left: 265px; height: 250px">
            <div style="text-align: center; font-size: 30px; font-family: 'Prosto One', cursive; padding: 30px 0;">
                {% if request.user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    Название фото <input style="width: 200px" type="text" name="name">
                    <input style="padding: 20px 50px;" type="file" name="picture" class="custom-file-input">
                    <br>
                    <input type="submit" name="form1" value="Создать">

                </form>


                {% else %}
                Войдите в аккаунт


                {% endif %}
            </div>
        </div>
    </div>


    <div class="skill_items">
        <div id="square4" style="width: 400px; margin-right: 50px;  margin-top: 0;">
            <div style="text-align: center; font-size: 30px; font-family: 'Prosto One', cursive; padding: 30px 0;">
                <strong>Список</strong>
                <hr>


                {% for f in pictures %}
                {% if request.user.id == f.user_id and request.user.id %}
                <a style="color: black" href="{{f.pic.url}}"> {{f.name}}</a> <br>

                {% endif %}
                {% endfor %}

            </div>
        </div>
        <div id="square4" style="width: 400px; margin-left: 250px;  margin-top: 10px;">
            <div style="text-align: center; font-size: 30px; font-family: 'Prosto One', cursive; padding: 30px 0;">
                <strong>Список полученных</strong>
                <hr>
                {% for fe in pictures_s %}
                {% if request.user.id == fe.user_get %}
                <a style="color: black" href="{{fe.pic.url}}"> {{fe.name}}</a> <br>

                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container_skill" style="
display: flex; justify-content: space-between;">
    <div class="skill_items">
        <div id="square4" style="width: 500px; height: 330px; margin-top: 5px">
            <div style="text-align: center; font-size: 30px; font-family: 'Prosto One', cursive; padding: 30px 0;">
                {% if request.user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    Название фото <input style="width: 200px" type="text" name="name_send"><br>
                    Код друга <input style="width: 100px; margin:  10px 0px" type="text" name="code">
                    <input style="padding: 20px 50px;" type="file" name="picture_send" class="custom-file-input">
                    <br>
                    <input type="submit" name="form2" value="Отправить">

                </form>


                {% else %}
                Войдите в аккаунт


                {% endif %}
            </div>
        </div>

        <div class="skill_items">
            <div id="square4" style=" width: 400px; margin-left: 1170px; margin-top: 0px;">
                <div style="text-align: center; font-size: 30px; font-family: 'Prosto One', cursive; padding: 30px 0;">
                    <strong>Список отправленных фото</strong>
                    <hr>

                    {% for fe in pictures_s %}
                    {% if request.user.id == fe.user_set %}
                    <a style="color: black" href="{{fe.pic.url}}"> {{fe.name}}</a>
                    <br>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
    {%endblock%}

    </body>
    </html>
