{%extends 'main/base.html'%}
{% load static %}
{% load main_tags %}
{%block status1%}nav-link_text-white{%endblock%}
{%block status2%}nav-link_text-white{%endblock%}
{%block status3%}nav-link_text-white{%endblock%}
{%block status4%} nav-link active {%endblock%}

{%block status5%}nav-link_text-white{%endblock%}

{% block title %}Навыки {%endblock%}


{%block content%}
{% if request.user.is_authenticated %}
<div class="container_skill" style="
    display: flex; justify-content: space-between;">
    <div class="skill_items">
        <div id="square4_skills" data-aos="fade-right">
            <div class='skill_text'>
                {% if request.user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    Название фото <input class="input_name_skill" type="text" name="name">
                    <input type="file" name="picture" class="custom-file-input"><br>
                    <br>
                    <input class="button_create" type="submit" name="form1" value="Создать">

                </form>

                {% endif %}
            </div>
        </div>
        <div id="square4_skills1" data-aos="fade-right">
            <div class='skill_text'>
                {% if request.user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table_skills">
                        <tbody>
                        <tr>
                            <td colspan="1" class="name_foto">Название фото:</td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <input class="name_foto" name="name_send">
                            </td>
                        </tr>
                        <tr>
                            <td class="name_foto" colspan="1">Код друга:</td>
                        </tr>
                        <tr>
                            <td>
                                <input class="code_foto" style="width: 100px; margin-right: 100%;  margin-top: 10px;"
                                       type="text" name="code">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <input style=" margin-top: 20px;" type="file" name="picture_send" class="custom-file-input">


                    <input class="button_create" style=" margin-top: 20px;" name="form2" type="submit"
                           value="Отправить">


                </form>


                {% endif %}
            </div>
        </div>
    </div>


    <div class="skill_items">
        <div id="square4_skills_list" data-aos="fade-left">
            <div class="skill_text">
                <strong>Список фото</strong>
                <hr>


                {% for f in pictures %}
                {% if request.user.id == f.user_id %}
                <a class="link-skill" href="{% url 'skills_delete1' f.id %} " style="color: white" type="submit"
                   value="Delete">X</a><br>
                <a style="color: black" href="{{f.pic.url}}"> {{f.name}}</a> <br>
                <hr>

                {% endif %}
                {% endfor %}

            </div>
        </div>
        <div id="square4_skills_list" data-aos="fade-left" style="margin-top: 20px">
            <div class="skill_text"
            ">
            <strong>Список полученных фото</strong>
            <hr>
            {% get_profiles as profiles %}
            {% for fe in pictures_s %}
            {% for prof in profiles %}
            {% if request.user.id == fe.user_get and fe.user_set == prof.user.id %}
            <a class="link-skill" href="{% url 'skills_delete' fe.id %}"
               style="color: white; font-size: 10px; margin-left: 300px " type="submit" value="Delete">X</a>
            <table>
                <tbody>
                <tr>
                    <td style="padding-left: 30px; text-align: left" colspan="1"> От: {{prof.surname}} {{prof.name}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px" colspan="1">
                        Файл: <a style="color: black" href="{{fe.pic.url}}"> {{fe.name}}</a> <br>
                    </td>

                </tr>
                </tbody>
            </table>

            <hr>
            {% endif %}
            {% endfor %}
            {% endfor %}


        </div>
    </div>
    <div id="square4_skills_list" data-aos="fade-left" style=" margin-top: 20px;">
        <div class="skill_text">
            <strong>Список отправленных фото</strong>
            <hr>

            {% for fe in pictures_s %}
            {% for prof in profiles %}
            {% if request.user.id == fe.user_set and fe.user_get == prof.user.id %}
            <a class="link-skill" href="{% url 'skills_delete2' fe.id %}" style="color: white;" type="submit"
               value="Delete">X</a><br>
            <table>
                <tbody>
                <tr>
                    <td style="padding-left: 30px; text-align: left" colspan="1"> Кому: {{prof.surname}} {{prof.name}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 30px" colspan="1">
                        Файл: <a style="color: black" href="{{fe.pic.url}}"> {{fe.name}}</a> <br>
                    </td>

                </tr>
                </tbody>
            </table>
            <hr>

            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>


</div>
</div>


{% else %}
<div id="square4" data-aos="flip-up" style="width: 500px; margin-left: 500px; height:auto; padding: 10px">
    <div style="text-align: center; font-size: 20px; font-family: 'Prosto One', cursive">
        <div style="text-align: center; padding: 10px; font-size: 35px; font-weight: bold; font-family: 'Prosto One', cursive">
            Ввойдите в аккаунт
        </div>

        </form>
    </div>
</div>
{%endif %}
{%endblock%}

</body>
</html>
